body {
  margin: 0;
  text-align: center;
  color: #40514E;
  /*Use to center when inline doesn't specify width(cover full screen)*/
  font-family: 'Merriweather', serif;
}

h1 {
  width: 30%;
  color: #66BFBF;
  font-size: 5.625rem;
  /*1em=100%=16px in font size % an em will scale to browser's font setting and will inherit from partent (Total size=parent+itself)*/
  margin: 50px auto 0 auto;
  /*use rem to prevent the effect of upstream size changes in font size*/
  position: relative;
  font-family: 'Sacramento', cursive;

}

/*2=2times (scale)*/
h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding: 10px;
}

h3 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  height: 0px;
  width: 15%;
  border-style: dotted;
  border-width: 5px;
  border-top: 0;
  color: #EAF6F6;
  margin: 100px auto;
}
p{line-height: 2;}
img {
  border-radius: 10%;
}

.Bio {
  color: #40514E;
  width: 30%;
  margin: auto;
}
.BottomContainer {background-color: #66BFBF;
height: 200px;
padding: 50px 0 20px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}

.contact-me{width: 40%;
margin: 40px auto 60px auto;}
.credit {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 ;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  width: 10%;
  margin: 30px 20px;
  text-decoration: none;
}
.footer-link:hover{color: #EAF6F6;}

.MiddleContainer {margin:50px 0}

.ProfilePic {
  width: 200px;
  height: 200px;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
}

.Skill1 {
  width: 25%;
  float: left;
  /*Float use for =wrapping text around certainelement*/
  margin-right: 30px
}

.Skill1Des {
  clear: left;
  /*clear = specific side must be clear (no other element)*/
}

.Skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Skill2Des {
  clear: right;
}

.Skill2Head {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.TopContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}



.red {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  display: inline-block;
  right: 400px;
  bottom: 0;
}

.yellow {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: relative;
  display: inline-block;
  left: 200px;
}

.black {
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  display: inline-block;
  left: 200px;
}

/* absolut postion challenge */
/*absolute position take element out of html flow*/
.AbsPosition {
  position: relative;
}

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  display: inline-block;
  left: 200px;
  top: 200px;
}

.green {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  display: inline-block;
  left: 100px;
  top: 100px;
}

.teal {
  width: 100px;
  height: 100px;
  background-color: teal;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.TopCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.BottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
